<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Registro</title>
</head>
<body>

    <form class="formulario">

        <h1>Registrate</h1>

        <div class="contenedor">

            <p id="errorNombreP" style="color: crimson;"></p>
            
            <div class="contenedor-input">
                <i class="fas fa-user icon"></i>
                <input type="text" name="" id="nombre" placeholder="Introduce tu nombre">
            </div>


            <p id="errorEmailP" style="color: crimson;"></p>
            <div class="contenedor-input">
                <i class="fas fa-envelope icon"></i>
                  <input type="text" name="" id="email" placeholder="Introduce tu email">
            </div>


            <p id="errorPassP" style="color: crimson;"></p>
            <div class="contenedor-input">
                <i class="fas fa-key icon"></i>
                <input type="password" name="" id="password" placeholder="Introduce una contraseña">
            </div>

            
            <input type="submit" name="" id="boton" value="Registrate" class="button">

            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>

            <p>¿Ya tienes una cuenta? <a class="link" href="login.html">Iniciar Sesión</a></p>


        </div>

    </form>
    

<script src="../js/registro.js"></script>
</body>
</html>