<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registro.css">
    <title>Registro</title>
</head>
<body>

    <form class="formulario">

        <h1>Registrate</h1>

        <div class="contenedor">

            <p id="errorNombreP" style="color: crimson;"></p>
            <div class="contenedor-input">
                    <input type="text" name="" id="nombre" placeholder="Introduce tu nombre">
            </div>


            <p id="errorApellidoP" style="color: crimson;"></p>
            <div class="contenedor-input">
                  <input type="text" name="" id="apellido" placeholder="Introduce tu apellido">
            </div>


            <p id="errorPassP" style="color: crimson;"></p>
            <div class="contenedor-input">
                <input type="password" name="" id="password" placeholder="Introduce una contraseña">
            </div>

            
            <input type="submit" name="" id="boton" value="Registrate" class="button">

            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>

            <p>¿Ya tienes una cuenta? <a class="link" href="login.html">Iniciar Sesión</a></p>


        </div>

    </form>
    

<script src="../js/registro.js"></script>
</body>
</html>